@model IEnumerable<Library.Domain.Entities.Book>

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

@if (TempData["Success"] is string s)
{
    <div class="alert alert-success">@s</div>
}
@if (TempData["Error"] is string e)
{
    <div class="alert alert-danger">@e</div>
}

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>Copies</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Author</td>
                <td>@item.Year</td>
                <td>@item.AvailableCopies / @item.TotalCopies</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                    @if (User.Identity?.IsAuthenticated == true && item.AvailableCopies > 0)
                    {
                        <span> | </span>
                        <a asp-controller="Loans"
                           asp-action="Borrow"
                           asp-route-bookId="@item.Id"
                           asp-route-title="@item.Title"
                           asp-route-available="@item.AvailableCopies">
                            Borrow
                        </a>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <span> | </span>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <span> | </span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
